Flask==1.0.2
Flask-Admin==1.5.2
Flask-API==1.0
Flask-BasicAuth==0.2.0
Flask-Cors==3.0.6
Flask-HTTPAuth==3.2.4
Flask-MongoAlchemy==0.7.2
Flask-PyMongo==2.1.0
Flask-RESTful==0.3.6
Flask-Session==0.3.1
Flask-SocketIO==3.0.1
gunicorn==19.9.0
MongoAlchemy==0.19
mongoengine==0.15.3
PyJWT==1.4.2

